<!DOCTYPE html>
<html>
  <head>
    <title>Scheduler</title>
    <link rel="stylesheet" href="/style/style.css">
  </head>
  <body>
{{{body}}}
<script src="/js/postService.js"></script>
<script src="/js/index.js"></script>
  </body>
</html>

